@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    background-color: #101729;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow-x: hidden;
}

/* Styling for the Nav Bar */

.nav-bar {
    position: fixed;
    height: 72px;
    background-color: #08203c;
    width: 100%;
    padding:  0.5rem 1rem;
    z-index: 2;
 
}

.nav-bar, .nav-bar ul, .navbar-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    
}

.nav-bar ul {
    padding-left: 0;
}

.nav-bar ul li {
    margin-left: 0.8rem;
    color: #13da5a;
    font-weight: bolder;
}

.nav-bar ul li:hover {
    color: #64e691;
}

/* styling for navbar buttons */

.sgn-in-btn, .get-started-btn {
    padding: 0.5rem 0.8rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    color: #13da5a;
    border: 1px solid #13da5a;
    background-color: transparent;
    font-weight: bolder;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
}


.get-started-btn {
    background-color: #13da5a;
    color: black;
    margin-left: 1rem;
}

.sgn-in-btn:hover {
    color: #64e691;
    border: 1px solid #64e691;
}

.get-started-btn:hover {
    background-color: #64e691;
    border: 1px solid #64e691;
    padding: 0.8rem 1.3rem;
    margin-left: 0;
    margin-right: -0.3rem;
}


.en {
    margin-right: 3rem;
}

.product-active {
    position: fixed;
    top: 14%;
    left: 3%;
    display: flex;
    width: auto;
    height: auto;
    background-color: #102743;
    padding: 1.5rem 2rem;
    z-index: 3;
}

.active.product-active {
    visibility: hidden;
}

.product-icons, .product-icons1, .earn-icons, .easy-icons, .academy-icons, .company-icons {
    margin-bottom: 1.2rem;
    align-items: center;
    display: flex;
}

.product-icons img, .product-icons1 img, .earn-icons img, .easy-icons img, .academy-icons img, .company-icons img {
    background-color: #213750;
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 0.7rem;
}

.product-sec-2 .product-icons img {
    background-color: transparent;
    padding: 0;
}

.product-icons a, .product-icons1 a, .earn-icons a, .easy-icons a, .academy-icons a, .company-icons a, .download-icons a {
    text-decoration: none;
    color: #13da5a;
}

.product-sec-2 {
    border: 1px solid #213750;
    border-radius: 10px;
    padding: 2rem 1.5rem;
    margin-left: 2.5rem;
}

.earn-active {
    position: fixed;
    top: 14%;
    left: 16%;
    width: auto;
    height: auto;
    background-color: #102743;
    padding: 1.5rem 2rem;
    z-index: 3;
}

.active.earn-active {
    visibility: hidden;
}

.easy-active {
    position: fixed;
    top: 14%;
    left: 20.5%;
    width: auto;
    height: auto;
    background-color: #102743;
    padding: 1.5rem 2rem;
    z-index: 3;
}

.active.easy-active {
    visibility: hidden;
}

.academy-active {
    position: fixed;
    top: 14%;
    left: 28%;
    width: auto;
    height: auto;
    background-color: #102743;
    padding: 1.5rem 2rem;
    z-index: 3;
}

.active.academy-active {
    visibility: hidden;
}

.company-active {
    position: fixed;
    top: 14%;
    left: 35.5%;
    width: auto;
    height: auto;
    background-color: #102743;
    padding: 1.5rem 2rem;
    z-index: 3;
}

.active.company-active {
    visibility: hidden;
}

.download-active {
    position: fixed;
    box-sizing: border-box;
    top: 14%;
    left: 59%;
    width: fit-content;
    height: fit-content;
    background-color: #102743;
    padding: 2rem;
    display: flex;
    border-radius: 10px;
    z-index: 3;
}

.download-sec2, .download-sec3 {
    margin-left: 2rem;
}

.download-sec1, .download-sec2 {
    width: 200pxpx;
}

.download-sec1 p, .download-sec2 p {
    font-size: 1rem;
    font-weight: bold;
    color: #959dae;
    display: flex;
    margin-top: 0;
    margin-bottom: 2rem;
    align-items: center;
}

.download-sec1 p i, .download-sec2 p i {
    font-size: 0.5rem;
    
}

.star-1 {
    margin-left: 0.3rem;
}


.download-icons {
    display: flex;
    align-items: center;
}

.download-icons img {
    margin-right: 1rem;
}

.download-sec3 {
    height: 111px;
    width: 111px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-sec3 img {
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 0;
}

.download-sec3 p {
    color: #959dae;
    font-size: 0.65rem;
    margin-top: 0;

}

.active.download-active {
    visibility: hidden;
}


/* End of the navbar styling */

/* styling for the header sectioin */

.top-container {
    padding-top: 10rem;
    padding-bottom: 6.125rem;
    background-image: linear-gradient( #3a4d96, #131B3B);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.top-container h1 {
    font-size: 4rem;
    font-weight: 800;
    color: white;
}

.top-container-divflex {
    display: flex;
    margin-bottom: 2rem;
}


.top-container-div {
    width: 309.328px;
    height: 157.750px;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top-container-div p {
    color: white;
    font-weight: 700;
}

.btn-get-started {
    padding: 24px 48px;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: #13da5a;
    border: none;
    border-radius: 2px;
    margin-bottom: 3rem;
}
/* end of header styling */

/* styling for exchange crypto section  */

.crypto-exchange-cont {
    background-color: #101729;
    margin-top: -2.2rem;
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.crypto-exchange-cont h2 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    text-align: center;
    width: 848px;
}

table {
    width: 63%;
    background-color: #193049;
    border: 1px solid #213750;
    margin: 0 4rem;
    border-spacing: 0;
    cursor: pointer;
}

.th {
    height: 37.16px;
    text-align: center;
    background-color: #292F36;
}

.th th {
    color: #8590A4;
    font-weight: 400;
    font-size: 0.75rem;
    padding-left: 1rem;
}

.expair {
    text-align: left;
}

.price {
    width: 15rem;
}

.pricetag {
    color: white;
}

td {
    border-top: 1px solid #3f5977;;
    height: 49.734px;
    align-items: center;
    text-align: center;
}

tr:hover {
    background-color: #244568;
}

td img {
    width: 36px;
    height: 36px;
    margin-left: 0.5rem;
}

.td-flex {
    display: flex;
    align-items: center;
}

.sushi h3, .sushi p {
    margin: 0;
    margin-left: 1rem;
}

.sushi h3 {
    color: white;
}

.sushi p {
    color: #8590A4;
}

.volatility-end {
    background-color: #043D75;
    padding: 0.5rem;
    color: #90B0C9;
    border-radius: 5px;
}

.cost {
    color: white;
}

.change {
    color: red;
}

.crypto-exchange-cont a {
    color: #13da5a;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.125rem;
    margin-top: 2rem;
    cursor: pointer;
    margin-bottom: 8rem;
}

.convert-p {
    font-size: 1.375rem;
    text-align: center;
    margin: 0 6rem;
    color: #959dae;
    margin-bottom: 2rem;
}

.convert-flex {
    width: 320px;
    height: 60px;
    display: flex;
    padding: 1rem;
    background-color: #08203C;
    align-items: center;
    cursor: pointer;
}

.convert-flex:hover {
    background-color: #044F9C;
}

.img-cont img {
    width: 30px;
    height: 30px;
}

.top-img {
    position: absolute;
    z-index: 1;
    left: 9%;
    bottom: -180%;
   
}

.top-img2 {
    position: absolute;
    z-index: 1;
    bottom: -180%;
    left: 37.5%;
}

.top-img3 {
    position: absolute;
    z-index: 1;
    bottom: -180%;
    right: 31.5%;
}

.top-img4{
    position: absolute;
    z-index: 1;
    left: 9%;
    bottom: -200%;
}

.top-img5 {
    position: absolute;
    z-index: 1;
    bottom: -200%;
    left: 37.5%;
}

.top-img6 {
    position: absolute;
    z-index: 1;
    bottom: -200%;
    right: 31.5%;
}

.convert1, .convert2 {
    display: flex;
    margin-bottom: 2rem;
}

.convert-flex2 {
    margin-left: 2rem;
}

.text-div {
    margin-left: 1rem;
}

.text-div h3 {
    margin-bottom: 0;
    color: white;
}

.text-div p {
    margin-top: 0.2rem;
    color: white;
}

.convert-flex i {
    margin-top: 3rem;
    margin-left: 4rem;
    color: #13da5a;
}

.crypto-exchange-cont .viewmore {
    border: 1px solid #13da5a;
    padding: 1.5rem 2rem;
    margin-bottom: 5rem;
}
/* end of styling for the exchange crypto section */

/* Styling for the FAQ section */

.faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #08203C;
}

.faq-container h2 {
    font-size: 2.625rem;
    font-weight: 800;
    color: white;
    margin-bottom: 4rem;
}

.fa-content-flex {
    display: flex;
    justify-content: space-between;
}

.faq-content1, .faq-content2, .faq-content3, .faq-content4, .faq-content5, .faq-content6 {
    width: 40.5rem;
    height: 3.75rem; /*10.563rem 3.75*/
    margin-bottom: 2rem;
    border-bottom: 1px solid #2b425c;
}

.faq-container h3 {
    margin-top: 0;
    color: #13da5a;
    font-size: 1.375rem;
    cursor: pointer;
}

.faq-container i {
    font-size: 1.3rem;
    color: #13da5a;
    cursor: pointer;
}

.faq-paragraph p {
    font-size: 1.125rem;
    color: #b8c0d2;
}

.paragraph4 p a, .paragraph6 p a {
    color: #13da5a;
    text-decoration: none;
    cursor: pointer;
}

.active.faq-content1, .active.faq-content2, .active.faq-content3, .active.faq-content4, .active.faq-content5, .active.faq-content6 {
    height: 10.563rem;
    padding-bottom: 1rem;
}

.active.faq-content3 {
    height: 11.563rem;
    
}

.active.faq-content4 {
    height: 13.563rem;
}

.active.faq-content6 {
    height: 32rem;
}

.active.faq-paragraph {
    visibility: hidden;
}

.active.icon-dropdown1 {
    visibility: hidden;
}

.active.x-mark {
    visibility: hidden;
}
/* end of styling for the faq section */

/* Styling for the News and blog  */

.news-txt, .blog-txt {
    font-size: 2.625rem;
    font-weight: 800;
    color: white;
    margin-bottom: 3rem;
}

.news-blog {
    display: flex;
    padding: 5rem 3rem;
    background-color: #08203C;
}

.img1 img, .img2 img {
    width: 277px;
    height: 143px;
    border-radius: 10px;
}

.img2 {
    margin-left: 2rem;
}

.news-img, .blog-img {
    display: flex;
}

.Blog {
    margin-left: 4rem;
}

.date {
    color: #8590A4;

}

.img1 p a, .img2 p a {
    color: #13da5a;
    text-decoration: none;
}

.allnews-btn {
    width: 100%;
    color: #13da5a;
    font-size: 1rem;
    padding: 11px 0;
    background-color: transparent;
    border-top: 1px solid #213750;
    border-bottom: 1px solid #213750;
    border-left: none;
    border-right: none;
}

.img1 p a:hover, .img2 p a:hover, .allnews-btn:hover {
    color: #64e691;
}
/* end of styling for the news and blog */

/* styling for the course sectoin  */

.course-container {
    display: flex;
    background-color: #101A31;
    padding: 5rem 0;
    margin-top: 5rem;
    justify-content: center;
}

.course-container img {
    width: 32.063rem;
    height: 22.656rem;
    border-radius: 1rem;
}

.text-more {
    width: 34.063rem;
    height: 22.656rem;
    margin-left: 3rem;
}

.text-more h2 {
    font-size: 3rem;
    color: white;
}

.text-more button {
    padding: 1.5rem 3rem;
    font-size: 1.125rem;
    font-weight: bold;
}

.text-more button i {
    margin-left: 0.5rem;
}
/* end of styling for the course section */

/* styling for the call to action */

.call-container {
    background-image: linear-gradient( #3a4d96, #131B3B);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-container h3 {
    font-size: 2.9rem;
    width: 65rem;
    text-align: center;
    color: white;
    font-weight: 800;
    margin-bottom: 0;
}

.call-container p {
    font-size: 1.375rem;
    color: #959dae;
    text-align: center;
    margin-bottom: 3rem;
}

.call-container button {
    padding: 1.5rem 3rem;
    background-color: #13da5a;
    border: none;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
}

.call-container button:hover {
    background-color: #64e691;
}

/* styling for the bottom container */

.bottom-container {
    background-color: #101729;
    margin-bottom: 0;
}

.logo-section {
    display: flex;
    align-items: center;
   margin-left: 4rem;
   padding-top: 3rem;
}

.bottom-logon{
    width: 180px;
    height: 32px;
}

.social-icons {
    width: 17px;
    height: 15px;
    margin-left: 1rem;
}

.social-icons1 {
    margin-left: 3rem;
}

.content-section {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 3rem 2rem 1rem;

}

.content-section h3 {
    color: #B8C0D2;
    font-size: 0.875;
}

.content-section p a {
    color: #13da5a;
    text-decoration: none;
    font-weight: 500;
}

.content-section p a:hover {
    color: #108538;
}

.resources .new, .learn .new {
    background-color: #044F9C;
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem 0.3rem;
    border-radius: 3px;
}

.footer-p {
    color: #8590A4;
    font-size: 0.9rem;
    margin: 0rem 3rem 1rem 4rem;
    text-align: center;
}

.juris-p {
    color: #959dae;;
    font-weight: bolder;
}

.footer-p-last {
    padding-bottom: 3rem;
}

.fa-telegram {
    margin-right: 1rem;
    font-size: 1.3rem;
}

.fa-arrow-right {
    margin-left: 1rem;
    font-size: 1.3rem;
}
/* end of bottom container styling */